<div class="container">
    <div class="mt-4">
        <h3>Agregar carrera</h3>
    </div>
    <form class="mt-4" [formGroup]="form">
        <div class="form-group mt-2">
            <label>Nombre de la carrera</label>
            <input formControlName="nombre" type="text" class="form-control" [class.is-invalid]="validateField('nombre')" placeholder="Nombre de la carrera" />
            <div class="invalid-feedback" *ngIf="validateField('nombre')">
                <span>Este campo es requerido</span>
            </div>
        </div>
        <div class="form-group mt-2">
            <label>Codigo</label>
            <input formControlName="codigo" type="text" class="form-control" [class.is-invalid]="validateField('codigo')" placeholder="Codigo de la carrera" />
            <div class="invalid-feedback" *ngIf="validateField('codigo')">
                <span>Este campo es requerido</span>
            </div>
        </div>
        <div class="form-group mt-2">
            <label>Descripcion</label>
            <input formControlName="descripcion" type="text" class="form-control" [class.is-invalid]="validateField('descripcion')" placeholder="Descripcion de la carrera" />
            <div class="invalid-feedback" *ngIf="validateField('descripcion')">
                <span>Este campo es requerido</span>
            </div>
        </div>
    </form>
</div>